.profile-img {
    width: 100%;
    padding: 30px;
    object-fit: contain;
    border-radius: 100%;
}
.profile-verified {
    color: var(--s-color);
    font-size: 32px !important;
}

.profile-name {
    font-size: 24px !important;
    line-height: 1.26;
    word-break: break-all;
    font-size: 24px;
    letter-spacing: 0;
}
.title {
    font-weight: bolder;
    font-size: 26px;
    width: 98%;
    text-align: start;
    border-bottom: 1px solid var(--p-color);


/* SKILLS */
}
.skills-progress-bar {
    background-color: var(--b-color);
    border: 1px solid var(--p-color);
    border-radius: 20px;
    margin: 8px;
}
.skills-progress-bar-fill {
    border-radius: 20px;
    background: linear-gradient(260deg, var(--s-color), var(--b-color), var(--s-color), var(--b-color));
    background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.skills-languaje {
    pointer-events: none;
    text-transform: capitalize;
    color: white;
    background-color: transparent;
}