:root {
    --p-color: #8892B0;
    --s-color: #4BBEA9;
    --b-color: #0A192F;
}

.App {
    background-color: var(--b-color);
}

.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.navbar {
    border-bottom: 0.5px solid var(--s-color);
    padding: 10px;
    margin: 10px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.nav-link a {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    color: var(--p-color) !important;
    text-decoration: none !important;
    transition: .8s !important;
    font-size: 20px !important;
}
.nav-link a:hover {
    color: var(--s-color) !important;
    transition: .8s;
}
.nav-link i {
    color: var(--s-color);

}